main div, section {
    color: red;
a:link {
	color: skyblue;
    text-decoration: none;
}
a:visited {
	color: green;
    text-decoration: none;
}
a:hover {
    color:red;
}
a:active {
	color: black;
    text-decoration: none;
} 