#elem {
	border: 5px double orange;
	width: 300px;
	height: 200px;
} 
		width: 300px;
		height: 200px;
		border-left: 3px solid orange;
		border-right: 3px solid green;
		border-top: 3px solid blue;
		border-bottom: 3px solid red;
}