#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
	}
#elem2 {
	position: absolute;
	top: 75px;
	left: 75px;
	width: 50px;
	height: 50px;
	border: 1px solid green;
	}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
	position: absolute;
	top:140px;
	left: 150px;
	}