.parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 900px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid red;
}
.child {
	width: 150px;
	height: 60px;
	border: 1px solid green;
}