#elem1 {
	width: 50px;
	height: 50px;
	border: 1px solid red;
	background-color: red;

	}
#elem2 {
	position: absolute;
	top: 38px;
	left: 38px;
	width: 50px;
	height: 50px;
	border: 1px solid blue;
	background-color:blue;
	}
#elem3 {
	width: 50px;
	height: 50px;
	border: 1px solid green;
	position: absolute;
	top:68px;
	left: 68px;
	background-color: green;
	}