#parent {
	width: 400px;
	height: 300px;
	border: 1px dashed blue;
}
#child {
	height: 250px;
	width: 350px;
	border: 1px dashed green;
	margin: 25px;
}
#palka {
	height: 200px;
	width: 300px;
	border: 1px solid red;
	margin: 25px;
}