.parent {
	border: 1px solid black;
	text-align: justify;
}
.child {
	float: left;
	width: 120px;
	height: 60px;
	border: 1px solid green;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.clearfix {
	clear: both;
}