#elem {
	padding: 15px;
	height: 100px;
	width: 580px;
	border: 1px solid green;
	text-align: justify;
}
#elem1 {
	padding: 5px;
	height: 165px;
	width: 300px;
	border: 1px solid red;
	text-align: justify;
	margin: 30px;
}