a:link {
	color: skyblue;
    text-decoration: none;
}
a:visited {
	color: green;
    text-decoration: none;
}
a:hover {
li:not(.elem) {
    color:red;
}
a:active {
	color: black;
    text-decoration: none;
} 