#elem {
    width: 300px;
    width: 200px;
    height: 200px;
    border-left: 3px solid red;
    border-right: 2px dashed green;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border: 1px solid green;
border-radius: 30px;
} 