#elem {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border: 1px solid rgb(230, 230, 49);
	background-color: rgb(230, 230, 49);
	text-align: center;
	padding-top: 30px;
	color: white;
	font-size: x-large;
}

#content {
	margin: 0 auto;
	margin-top: 100px;
	width: 600px;
	text-align: justify;
	font: 16px Arial;
	border: 1px solid yellow;
	padding: 30px;
}