.parent {
	display: flex;
	border: 1px solid red;
	justify-content: space-between;
	height: 200px;
	width: 700px;
	margin-left: 400px;
}
.child {
	width: 100px;
	height: 50px;
	border: 1px solid green;
}