h1 {
    text-align: left;
}
h2 {
    text-align: center;
}
td {
    width: 500px;
}
th {
    text-align: left;
}
td {
    height: 300px;
    text-align: center;
    font-weight: bold;
}
p {
    width: 300px;
}
p {
    text-align: justify;
}
h2 {
    width: 300px;
    text-align: center;
} 
th {
    font-weight: normal;
}    